src/gc.log
deploy/artifacts/starter/CupStarterConsoleSharp.pdb
*.pdb
deploy/CupStarterConsoleSharp/bin
deploy/CupStarterConsoleSharp/obj
deploy/CupStarterConsoleSharp/StarterLib/StarterLib/bin
deploy/CupStarterConsoleSharp/StarterLib/StarterLib/obj
deploy/CupStarterConsoleSharp/CupStarterConsoleSharp.v12.suo
*.suo
/src/err_app_2015_12_29_19_46_07.log
/tmp
