src/gc.log
deploy/artifacts/starter/CupStarterConsoleSharp.pdb
*.pdb
deploy/CupStarterConsoleSharp/bin
deploy/CupStarterConsoleSharp/obj
deploy/CupStarterConsoleSharp/StarterLib/StarterLib/bin
deploy/CupStarterConsoleSharp/StarterLib/StarterLib/obj
deploy/CupStarterConsoleSharp/CupStarterConsoleSharp.v12.suo
*.suo
/src/err_app_2015_12_29_19_46_07.log
/tmp
/deploy/CupStarterConsoleSharp/.vs/config/applicationhost.config
/extensions/TressetteAlphaBeta/Debug
deploy/CupStarterConsoleSharp/UpgradeLog.htm
deploy/CupStarterConsoleSharp/CupStarterConsoleSharp.VC.opendb
deploy/CupStarterConsoleSharp/CupStarterConsoleSharp.sdf
*.user
*.ipch
/deploy/CupStarterConsoleSharp/Debug/TressetteAlphaBeta.dll
/deploy/CupStarterConsoleSharp/Debug/TressetteAlphaBeta.ilk
/extensions/TressetteAlphaBeta/cStateAB.o
/extensions/TressetteAlphaBeta/cHand.o
/extensions/TressetteAlphaBeta/cCardItem.o
/extensions/TressetteAlphaBeta/cAlgABSolver.o
/extensions/TressetteAlphaBeta/dllmain.o
/extensions/TressetteAlphaBeta/TrickHistoryItem.o
/extensions/TressetteAlphaBeta/TressetteAlphaBeta.o
/extensions/TressetteAlphaBeta/TraceService.o
/extensions/TressetteAlphaBeta/StdAfx.o
/extensions/TressetteAlphaBeta/RubyTre4AlphaBeta.so
/extensions/TressetteAlphaBeta/RubyTre4AlphaBeta.o
*.metagen
/extensions/ConsoleTestTressetteAlphaBeta/bin/Debug
/extensions/ConsoleTestTressetteAlphaBeta/obj/Debug
/extensions/TressetteAlphaBeta/x64/Debug
/extensions/TressetteAlphaBeta/Resource.aps
